# Local files and directories to ignore
.local/
settings.toml
.env

# Python
*.venv/*
pycache/
*.py[cod]
*$py.class

# IDE
.vscode/
.cursor/mcp.json
.cursor/settings.json

# uv
.uv/
src/personal_repo.egg-info/
